@media (min-width:992px){
    /*初始化*/
    *{
        margin: 0;
        padding: 0;
    }
    .a{
        text-decoration:none;
        color: inherit;
    }
    li{
        list-style: none;
    }

    ul{
        margin: 0;
        padding: 0;
    }
    nav{
        margin: 0;
        padding: 0;
    }

    /*顶部*/
    .boxrow{
        width: 80%;
        height: 70px;
        margin: 0 auto;
    }
    .time{
        line-height: 70px;
    }
    /*导航*/
    .boxnavmax{
        width: 100%;
        height: 50px;
        background-color: rgb(158,185,218);
    }
    .ul1{
        width: 50%;
        float: left;
        overflow: hidden;
        line-height: 48px;
        padding-left: 200px;
        margin-bottom: 0;
    }
    .ul1 li{
        padding: 0 50px;
        text-align: center;
        float: left;
        list-style: none;
        color: white;
    }
    .ul1 li:hover{
        background-color: rgb(93,137,189);
    }
    .ul1 li a{
        color: white;
        text-decoration: none;
        font-size: 24px;
    }
    .ul1 li a:hover{
        text-shadow: 5px 3px 3px black;
    }
    .ul2{
        width: 50%;
        float: left;
        overflow: hidden;
        line-height: 50px;
    }
    .ul2 li a{
        color: white;
        text-decoration: none;
        font-size: 24px;
        float: right;
        padding-right: 50px;
        color: yellow;
    }
    .ul2 li a:hover{
        text-shadow: 5px 3px 3px black;
    }
    /*商家管理*/
    .boxlg{
        display: none;
        width: 100%;
        height: 100px;
        position:absolute;
        z-index: 5;
        background-color: white;
        overflow: hidden;
    }
    .boxlg1{
        float: left;
        border-right: 1px black solid;
        overflow: hidden;
        width: 50%;
    }
    .boxlg11{
        width: 200px;
    }
    .boxlg1 *{
        float: right;
    }
    .boxlg1 img{
        width: 60px;
        height: 60px;
        float: right;
        margin-right: 20px;
        margin-top: 20px;
    }
    .boxlg1 span{
        margin-right: 130px;
        font-family: "Microsoft YaHei";
        font-size: 24px;
        font-weight: bold;
        line-height: 100px;
    }
    .boxlg1 span:hover{
        font-size: 30px;
        color: yellow;
    }
    .boxlg2{
        float: left;
        overflow: hidden;
        width: 50%;
    }
    .boxlg2 *{
        float: left;
    }
    .boxlg2 img{
        width: 60px;
        height: 60px;
        margin-right: 50px;
        margin-top: 20px;
        margin-left: 130px;
    }
    .boxlg2 span{
        font-family: "Microsoft YaHei";
        font-size: 24px;
        font-weight: bold;
        line-height: 100px;
    }
    .boxlg2 span:hover{
        font-size: 30px;
        color: yellow;
    }
    .boxnav2 span:hover{
        text-shadow: 5px 3px 3px black;
    }
    /*背景图*/
    .img1{
        width: 100%;
        /*height: 858px;*/
        background: url("../img/image12.jpg");
        background-size: 100%;
        overflow: hidden;
    }
    /*中间内容*/
    /*上半部分*/
    .img1 .boxmaxbg{
        float: left;
        width: 90%;

        margin-left: 85px;
        margin-top: 8px;
        background-color: rgb(158,185,218);
    }
    .img1 .boxmaxbg input{
        border-radius: 8px;
        height: 40px;

    }
    .img1 .boxmaxbg .flg{
        width: 200px;
    }
    .img1 .boxmaxbg span{
        font-size: 20px;
        font-weight: bold;
    }
    .ul11 .s222{
        width: 100px;
        text-align: left;
    }
    /*第一行*/
    .img1 .boxmaxbg .checkul1{
        width: 90%;
        margin: 0 auto;
        overflow: hidden;
        margin-top: 20px;
    }
    .checkul1 li{
        width: 33%;
        float: left;
        padding-left: 80px;
    }
    .checkul1 li span{
        padding-right: 20px;
    }
    /*第二行*/
    .img1 .boxmaxbg .checkul2{
        width: 90%;
        margin: 0 auto;
        overflow: hidden;
        margin-top: 20px;
    }
    .checkul2 li{
        float: left;
        padding-left: 69px;
        overflow: hidden;
    }
    .checkul2 li *{
        float:left;
    }
    .checkul2 li span{
        padding-right: 10px;
        padding-left: 10px;
        /*width: 20px;*/
    }
    .checkul2 li input[type=radio]{
        margin-top: 5px;
        width: 16px;
        height: 16px;
    }

    /*第三行*/
    .img1 .boxmaxbg .checkul3{
        width: 90%;
        margin: 0 auto;
        overflow: hidden;
        margin-top: 20px;
    }
    .checkul3 .first{
        float: left;
        width: 33%;
        padding-left: 80px;
    }
    .checkul3 .sen{
        float: left;
        width: 66%;
        padding-left: 80px;
    }
    .checkul3 li span{
        padding-right: 5px;
    }
    .inputbox{
        width: 620px;
    }
    .checkul3 .first select{
        border-radius: 8px;
        width: 182px;
        height: 32px;
    }
    /*第四行*/
    .img1 .boxmaxbg .checkul4{
        width: 90%;
        margin: 0 auto;
        overflow: hidden;
        margin-top: 20px;
    }
    .checkul4 li{
        float: left;
        margin-left: 75px;
    }
    .checkul4 li span{
        padding-right: 5px;
    }
    .checkul4 .spanli{
        padding-right: 60px;
    }
    .checkul4 li .spanli1{
        padding-left: 12px;
    }
    .checkul4 .spanli2{
        margin-left: 178px;
    }
    .checkul4 li .people{
        padding-left: 50px;
    }
    #checkisnumTo{
        color: red;
    }
    /*第五行*/
    .img1 .boxmaxbg .checkul5{
        width: 90%;
        margin: 0 auto;
        overflow: hidden;
        margin-top: 20px;
    }
    .checkul5 li{
        float: left;
        padding-left: 80px;
    }
    .clear{
        width: 80px;
        background-color: rgb(217,83,79);
        font-size: 20px;
        margin-left: 175px;
        color: white;
        border: none;
        box-shadow: 2px 2px 2px black;
    }
    .find{
        width: 80px;
        background-color: rgb(51,122,183);
        font-size: 20px;
        margin-left: 325px;
        color: white;
        border: none;
        box-shadow: 2px 2px 2px black;
    }
    /*横线*/
    .hrrr{
        border: 1px white dashed;
        width: 90%;
        margin: 0 auto;
        margin-top: 10px;
    }
    /*中间部分*/
    .but{
        margin-top: 10px;
        margin-left: 71px;
        margin-right: 90px;
        border: none;
        box-shadow: 2px 2px 2px black;
    }

    .span1{
        margin-left: 860px;
    }
    .tabletr{
        width: 70%;
        margin: 0 auto;
        margin-top: 10px;
        border: solid 1px white;
    }
    .table-striped > tbody > tr:nth-of-type(1) {
        background-color: pink;
    }
    .table > tbody > tr > td,.table > tbody > tr > th{
        padding: 8px;
        line-height: 1.42857143;
        vertical-align: middle;
        border-top: 1px solid #ddd;
    }
    .tabletr th{
        text-align: center;
        border: 1px white solid;
    }
    .tabletr td{
        text-align: center;
        border: 1px white solid;
    }

    #ShowPages{

        height: 40px;
        border-radius: 8px;
    }
    /*底部*/
    .boxbottom{
        width: 90%;
        margin: 0 auto;
        margin-top: 15px;
        margin-left: 410px;
        padding-bottom: 30px;
    }
    .boxbottom .btnn{
        width: 250px;
        height: 35px;
    }
    .boxbottom span{
        margin-left: 10px;
    }
    /*.img1 .boxmaxbg .boxbottom ul {

        width: 90%;
        margin: 0 auto;
        overflow: hidden;
        margin-top: 20px;
        margin-left: 500px;
    }
    .boxbottom ul li{
        float: left;
        padding-right: 50px;
    }
    .boxbottom ul li button{
        border-radius: 4px;
    }
    .boxbottom ul li .but12{
        width: 100px;
        height: 28px;
        border-radius: 10px;
    }
    .boxbottom ul li button a{
        border-radius: 4px;
        color: black;
    }
    .boxbottom ul li .spanwq{
        padding-left: 5px;
        padding-bottom: 15px;
    }*/

    /*底部导航*/
    .boxfooter{
        background-color: rgb(51,51,51);
        height: 150px;
        overflow: hidden;
        margin-top: 0;
    }
    .boxfooter11{
        width: 60%;
        float: left;
        text-align: center;
        padding-left: 500px;
        margin-top: 20px;
    }
    .boxfooter22{
        width: 40%;
        float: left;
        margin-top: 20px;
    }
    .boxfooter22 h4{
        color: rgb(138, 143, 145);
    }
    .boxfooter11 p{
        margin-top: 10px;
        color: rgb(138, 143, 145);
    }
    .boxfooter2{
        width:50px;
        height: 50px;
    }
    .boxfooter11 .boxfooterul{
        padding-left: 75px;
        overflow: hidden;
        list-style: none;
    }
    .boxfooterul li{
        float: left;
        padding: 0px 20px;
    }
    .boxfooterul li a{
        text-decoration: none;
        color: rgb(138, 143, 145);
    }
    .boxfooterulli{
        border-right: 1px rgb(138, 143, 145) solid;
        border-left: 1px rgb(138, 143, 145) solid;
    }
}
@media (min-width:768px) and (max-width:992px){
    /*初始化*/
    *{
        margin: 0;
        padding: 0;
    }

    .a{
        text-decoration:none;
        color: inherit;
    }
    li{
        list-style: none;
    }

    ul{
        margin: 0;
        padding: 0;
    }
    nav{
        margin: 0;
        padding: 0;
    }

    /*顶部*/
    .boxrow{
        width: 80%;
        height: 70px;
        margin: 0 auto;

    }
    .time{
        margin-top: 20px;
        line-height: 16px;
    }
    .images{
        width: 150px;
        height: 50px;
    }
    .tital{
        line-height: 42px;
    }

    /*导航*/
    .boxnavmax{
        width: 100%;
        height: 50px;
        background-color: rgb(158,185,218);
    }
    .ul1{
        width: 70%;
        float: left;
        overflow: hidden;
        line-height: 48px;
        padding-left: 0px;
        margin-bottom: 0;
    }
    .ul1 li{
        padding: 0 28px;
        text-align: center;
        float: left;
        list-style: none;
        color: white;
    }
    .ul1 li:hover{
        background-color: rgb(93,137,189);
    }
    .ul1 li a{
        color: white;
        text-decoration: none;
        font-size: 24px;
    }
    .ul1 li span{
        color: white;
        text-decoration: none;
        font-size: 24px;
    }
    .ul1 li a:hover{
        text-shadow: 5px 3px 3px black;
    }
    .ul2{
        width: 30%;
        float: left;
        overflow: hidden;
        line-height: 50px;
    }
    .ul2 li a{
        color: white;
        text-decoration: none;
        font-size: 24px;
        float: right;
        padding-right: 50px;
        color: yellow;
    }
    .ul2 li a:hover{
        text-shadow: 5px 3px 3px black;
    }
    .imgaaa{
        width: 150px;
        height: 60px;
        margin-top: 5px;
    }
    .fon{
        font-size: 14px;
    }

    /*商家管理*/
    .boxlg{
        display: none;
        width: 100%;
        height: 50px;
        position:absolute;
        z-index: 5;
        background-color: white;
        overflow: hidden;
    }
    .boxlg1{
        float: left;
        border-right: 1px black solid;
        overflow: hidden;
        width: 50%;
    }
    .boxlg11{
        width: 200px;
    }
    .boxlg1 *{
        float: right;
    }
    .boxlg1 img{
        width: 30px;
        height: 30px;
        float: right;
        margin-right: 5px;
        margin-top: 10px;
    }
    .boxlg1 span{
        margin-right: 130px;
        font-family: "Microsoft YaHei";
        font-size: 12px;
        font-weight: bold;
        line-height: 50px;
    }
    .boxlg1 span:hover{
        font-size: 18px;
        color: yellow;
    }
    .boxlg2{
        float: left;
        overflow: hidden;
        width: 50%;
    }
    .boxlg2 *{
        float: left;
    }
    .boxlg2 img{
        width: 30px;
        height: 30px;
        margin-right: 50px;
        margin-top: 10px;
        margin-left: 120px;
    }
    .boxlg2 span{
        font-family: "Microsoft YaHei";
        font-size: 12px;
        font-weight: bold;
        line-height: 50px;
    }
    .boxlg2 span:hover{
        font-size: 18px;
        color: yellow;
    }
    .boxnav2 span:hover{
        text-shadow: 5px 3px 3px black;
    }
    /*背景图*/
    .img1{
        width: 100%;
        height: 690px;
        background: url("../img/image12.jpg");
        background-size: 100%;
        overflow: hidden;
    }

    /*中间内容*/
    /*上半部分*/
    .img1 .boxmaxbg{
        float: left;
        width: 90%;
        height: 660px;
        margin-left: 40px;
        margin-top: 8px;
        background-color: rgb(158,185,218);
    }
    .img1 .boxmaxbg input{
        border-radius: 8px;
        height: 20px;

    }
    .img1 .boxmaxbg .flg{
        width: 100px;
    }
    .img1 .boxmaxbg span{
        font-size: 10px;
        font-weight: bold;
    }
    .ul11 .s222{
        width: 68px;
        text-align: left;
    }
    /*第一行*/
    .img1 .boxmaxbg .checkul1{
        width: 90%;
        margin: 0 auto;
        overflow: hidden;
        margin-top: 12px;
    }
    .checkul1 li{
        width: 33%;
        float: left;
        padding-left: 20px;
    }
    .checkul1 li span{
        padding-right: 20px;
    }
    /*第二行*/
    .img1 .boxmaxbg .checkul2{
        width: 90%;
        margin: 0 auto;
        overflow: hidden;
        margin-top: 20px;
    }
    .checkul2 li{
        float: left;
        padding-left: 10px;
        overflow: hidden;
    }
    .checkul2 li *{
        float:left;
    }
    .checkul2 li span{
        padding-right: 10px;
        padding-left: 10px;
        /*width: 20px;*/
    }
    .checkul2 li input[type=radio]{
        margin-top: 5px;
        width: 16px;
        height: 16px;
    }

    /*第三行*/
    .img1 .boxmaxbg .checkul3{
        width: 90%;
        margin: 0 auto;
        overflow: hidden;
        margin-top: 20px;
    }
    .checkul3 .first{
        float: left;
        width: 33%;
        padding-left: 19px;
    }
    .checkul3 .sen{
        float: left;
        width: 66%;
        padding-left: 20px;
    }
    .checkul3 li span{
        padding-right: 5px;
    }
    .inputbox{
        width: 270px;
    }
    .checkul3 .first select{
        border-radius: 8px;
        width: 102px;
        height: 24px;
    }
    /*第四行*/
    .img1 .boxmaxbg .checkul4{
        width: 90%;
        margin: 0 auto;
        overflow: hidden;
        margin-top: 20px;
    }
    .checkul4 li{
        float: left;
        padding-left: 19px;
    }
    .checkul4 li span{
        padding-right: 5px;
    }
    .checkul4 .spanli{
        padding-right: 32px;
    }
    .checkul4 li .spanli1{
        padding-left: 47px;
    }
    .checkul4 .spanli2{
        padding-left: 150px;
    }
    .checkul4 li .people{
        padding-left: 50px;
    }
    /*第五行*/
    .img1 .boxmaxbg .checkul5{
        width: 90%;
        margin: 0 auto;
        overflow: hidden;
        margin-top: 20px;
    }
    .checkul5 li{
        float: left;

    }
    .clear{
        width: 40px;
        background-color: rgb(217,83,79);
        font-size: 14px;
        margin-left: 175px;
        color: white;
        border: none;
        box-shadow: 2px 2px 2px black;
    }
    .find{
        width: 40px;
        background-color: rgb(51,122,183);
        font-size: 14px;
        margin-left: 325px;
        color: white;
        border: none;
        box-shadow: 2px 2px 2px black;
    }
    /*横线*/
    .hrrr{
        border: 1px white dashed;
        width: 90%;
        margin: 0 auto;
        margin-top: 10px;
    }
    /*中间部分*/
    .but{
        margin-top: 10px;
        margin-left: 36px;
        margin-right: 90px;
        border: none;
        box-shadow: 2px 2px 2px black;
    }

    .span1{
        margin-left: 328px;
    }
    .tabletr{
        width: 90%;
        margin: 0 auto;
        margin-top: 10px;
        border: solid 1px white;
    }
    .table-striped > tbody > tr:nth-of-type(1) {
        background-color: pink;
    }
    .table > tbody > tr > td,.table > tbody > tr > th{
        padding: 8px;
        line-height: 1.42857143;
        vertical-align: middle;
        border-top: 1px solid #ddd;
    }
    .tabletr th{
        text-align: center;
        border: 1px white solid;
    }
    .tabletr td{
        text-align: center;
        border: 1px white solid;
    }
/*    .tabletr td button{
        width:60px;background-color: rgb(92,184,92);
        border-radius:4px;
        color:white;
        border:none;
        box-shadow: 2px 2px 2px black;
    }*/
    /*底部*/
    .boxbottom{
        width: 90%;
        margin: 0 auto;
        margin-top: 15px;
        margin-left: 50px;
    }
    .boxbottom .btnn{
        width: 250px;
        height: 35px;
    }
    .boxbottom span{
        margin-left: 10px;
    }


    /*底部导航*/
    .boxfooter{
        background-color: rgb(51,51,51);
        height: 158px;
        overflow: hidden;
        margin-top: 0;
    }
    .boxfooter11{
        width: 60%;
        float: left;
        text-align: center;
        padding-left: 40px;
        margin-top: 10px;
    }
    .boxfooter22{
        width: 40%;
        float: left;
        margin-top: 18px;
    }
    .boxfooter22 h4{
        font-size: 8px;
        color: rgb(138, 143, 145);
    }
    .boxfooter11 p{
        margin-top: 20px;
        color: rgb(138, 143, 145);
    }
    .boxfooter2{
        width:24px;
        height: 24px;
    }
    .boxfooter11 .boxfooterul{
        padding-left: 75px;
        overflow: hidden;
        list-style: none;
    }
    .boxfooterul li{
        float: left;
        padding: 0px 20px;
    }
    .boxfooterul li a{
        text-decoration: none;
        color: rgb(138, 143, 145);
    }
    .boxfooterulli{
        border-right: 1px rgb(138, 143, 145) solid;
        border-left: 1px rgb(138, 143, 145) solid;
    }

}




